<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Untitled</title>
    </head>
    <body>

      <h2>Thanks for submitting the survey! You have submitted this survey {{request.session.counter}} times now.</h2>
      <h1><b>Submitted Information</b></h1>
      <p>Name: {{request.session.Name}}</p>
      <p>Dojo Location: {{request.session.Location}}</p>
      <p>Favorite Language: {{request.session.Language}}</p>
      <p>Comment: {{request.session.Comment}}</p>
      
    </body>
</html>