<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Untitled</title>
    </head>
    <body>
      <p>It all began back in 1765 when I was born. Single Handedly defeated the british and forever securing America in the name of Bald Eagles and sleeveless shirts. I then went on to invent the internet many many years before the first computer was ever even thought of. Once was the leader of all of Russia and most of Europe. I acquired my land after deafting Sir Iassic Newton in a game of pin the tail on the donkey only to lose it all several years later in a game of poker. Both the Rambo and Mad Max movies have been recreations of my life only with changes to the names of those invold for lgal purposes. Technically according to the government I do not "legally" exist, its some CIA blackops stuff I can't explain more.</p> 
    </body>
</html>