<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Untitled</title>
    </head>
    <body>
      <h3 id="currentGold">Your Gold: {{request.session.currentGold}}</h3>
      <section id="main">
        <h2>Farm</h2>
        <form action="/process_money" method="post">
          {% csrf_token %}
          <input type="hidden" name="location" value="farm">
          <input type="submit" value="Find Gold">
        </form>
        <h2>Cave</h2>
        <form action="/process_money" method="post">
          {% csrf_token %}
          <input type="hidden" name="location" value="cave">
          <input type="submit" value="Find Gold">
        </form>
        <h2>House</h2>
        <form action="/process_money" method="post">
          {% csrf_token %}
          <input type="hidden" name="location" value="house">
          <input type="submit" value="Find Gold">
        </form>
        <h2>Casino</h2>
        <form action="/process_money" method="post">
          {% csrf_token %}
          <input type="hidden" name="location" value="casino">
          <input type="submit" value="Find Gold">
        </form>
      </section>
      <footer>
        {{request.session.activities}}
      </footer>
    </body>
</html>