<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Untitled</title>
    </head>
    <body>
      <h1>Congrats you registed for a COMPUTER VIRUS</h1>
      <h2>want to display all of your info??? </h2>
      <ul>
      	<li>Name: {{request.session.name}}</li>
      	<li>Email: {{request.session.emial}}</li>
      	<li>Age: {{request.session.age}}</li>
      	<li></li>
      </ul>
      <form action="/siri">
      	<label for="">What does Marcelles Wallis look like?</label>
      	<input type="radio" name="bitch" value="A Bitch">A Bitch <br>
      	<input type="radio" name="bitch" value="A Ditch">A Ditch <br>
      	<input type="radio" name="bitch" value="Not a Bitch">Not a Bitch <br>
      </form> 
    </body>
</html>